<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<div class="col-md-10 mx-auto my-4">
    <div class="row">
        <nav class="navbar bg-body-light">
            <div class="container-fluid justify-content-center align-items-center">
                <form class="d-flex" role="search" action="busqueda" method="get">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <div class="row mt-4">
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'exportar_excel' %}" style="margin-left: 10px;">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Exportar copias a excel</button>
            </form>     
            {%endif%}
            <h6> Para mostrar todos los libros despues de una busqueda realiza una busqueda sin contenido o apreta el boton de busqueda otra vez</h6>
            <p>{{ copias|length }} copias registradas</p>
        </div>
        <div class="container-fluid">
            <div class="container-fluid table-responsive" style="overflow-y:auto; overflow-x: auto;" >
                <table class="table table-hover" style="width: 90%;">
                    <thead>
                        <th>Codigo de Copia</th>
                        <th>Titulo del Libro</th>
                        <th>Autor</th>
                        <th>Editorial</th>
                        <th>Clasificacion  y item</th>
                        <th>Disponible</th>
                        <th>Mas Información</th>
                        {% if user.is_authenticated %}
                        <th>Eliminar Copia</th>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for copia in copias %}
                            <tr>
                                <td>{{ copia.clavecopia|stringformat:"06d" }}</td>
                                <td>{{ copia.codigolibro.titulo }}</td>
                                <td>{{ copia.codigolibro.autor }}</td>
                                <td>{{ copia.codigolibro.editorial }}</td>
                                <td>{{ copia.codigolibro.dewy }} {% if copia.codigolibro.item %} {{copia.codigolibro.item}} {%endif%}</td>
                                <td>{% if copia.disponible %}Disponible{% else %} No - {{ copia.clavealumno.clave|stringformat:"05d" }}{% endif %}</td>
                                <td style="text-align: center;">
                                    <a href="{% url 'busqueda_detalle' clavecopia=copia.clavecopia %}" class="btn btn-success"><i class="bi bi-pencil"></i>+</a>
                                </td>   
                                {% if user.is_authenticated %}
                                <td><button class="btn btn-danger" onclick="borrarcopia('{{ copia.clavecopia }}')">
                                    <i class="bi bi-trash"></i> eliminar<!-- Ícono de papelera -->
                                </button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function borrarcopia(pk) {
        if (confirm("¿Estás seguro de que quieres borrar a esta copia esta accion es permanente y no se puede deshacer? ")) {
            // Petición AJAX para eliminar el registro
            $.ajax({
                type: 'POST',
                url: '/copia/eliminar/' + pk +'/',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function () {
                    // Recargar la página o actualizar la tabla después de borrar
                    location.reload();
                },
                error: function () {
                    // Manejar errores si es necesario
                    location.reload();
                }
            });
        } else {
            // Si el usuario cancela, no hagas nada
        }
    }
</script>
<script>
    $(document).ready( function () {
        $('.table').DataTable({
            "paging": true,
            "pageLength": 25 // Mostrar solo 30 elementos por página
        });
    });
</script>
{% endblock %}
