<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<style>
    body {
        background-color: #1C4E46;
        color: white;
        text-align: center;
        font-size: 18px;
    }

    h2 {
        color: #1C4E46;
    }

    button {
        background-color: white;
        color: #1C4E46;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }
</style>

<h2>¿Estás seguro de que deseas eliminar el libro '{{ libro.titulo }}' con código '{{ libro.codigolibro }}'?</h2>
<form method="post">
    {% csrf_token %}
    <button type="submit">Sí, eliminar</button>
</form>

<!-- Agrega la opción para eliminar todos los libros con el mismo título -->
<form method="post" action="{% url 'eliminar_libros_por_titulo' %}">
    {% csrf_token %}
    <input type="hidden" name="titulo" value="{{ libro.titulo }}">
    <button type="submit">Sí, eliminar todos los libros con el mismo título</button>
</form>

<a href="{% url 'libro_detalle' codigolibro=libro.codigolibro %}">Cancelar</a>
{% endblock %}
