<!DOCTYPE html>
 {% extends "index.html" %}
 {% load static %}

 {% block main_content %}
 <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 20px;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        color: #ff0000;
    }
    p {
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <h1>Error</h1>
    <p>{{ mensaje }}</p>
    <p><a href="/">Volver al inicio</a></p>
</div>

 {% endblock %}