<!DOCTYPE html>
 {% extends "index.html" %}
 {% load static %}

 {% block main_content %}
 <form method="POST" action="{% url 'agregar_copia' %}">
    {% csrf_token %}
    <input type="text" name="copia" placeholder="Ingrese la copia">
    <button type="submit">Agregar copia asociada a esa clave</button>
  </form>
  
  <!-- Botón para vaciar lista -->
  <form method="POST" action="{% url 'vaciar_lista' %}">
    {% csrf_token %}
    <button type="submit">Vaciar lista</button>
  </form>
  <table style="border-collapse: collapse; width: 20cm; height: 7.5cm; margin: 3mm;">
    {% for copia in lista %}
    <tr>
        <td style="width: 6.7cm; height: 2.5cm; border: 1px solid black;">
            <!-- Celda 1: Código de barras, clave de copia y título asociado -->
            <div style="text-align: center;">
                <!-- Código de barras -->
                <span style="font-family: 'Libre Barcode 39 Extended Text'; font-size: 55px;">{{copia.clavecopia | stringformat:"06d"}}</span>
                <!-- Título asociado -->
                <p>{{ copia.codigolibro.titulo }}</p>
            </div>
        </td>
        <td style="width: 6.7cm; height: 2.5cm; border: 1px solid black;">
            <!-- Celda 2: Clave de libro/copía, código Dewey y autor -->
            <div >
                <!-- Clave de libro/copía -->
                <p style="text-align: right;">{{ copia.codigolibro.codigolibro | stringformat:"06d" }}/{{ copia.clavecopia | stringformat:"06d" }}</p>
                <!-- Código Dewey -->
                <p>{{ copia.codigolibro.dewy }}</p>
                <!-- Primeros 3 caracteres del autor -->
                <p>{{ copia.codigolibro.autor|slice:":3" }}</p>
            </div>
        </td>
        <td style="width: 6.7cm; height: 2.5cm; border: 1px solid black;">
            <!-- Celda 3: Clave de libro/copía, código Dewey y autor -->
            <div>
                <!-- Clave de libro/copía -->
                <p style="text-align: right;">{{ copia.codigolibro.codigolibro | stringformat:"06d" }}/{{ copia.clavecopia | stringformat:"06d" }}</p>
                <!-- Código Dewey -->
                <p>{{ copia.codigolibro.dewy }}             {{ copia.codigolibro.autor }}</p>

                <!-- Primeros 3 caracteres del autor -->
                <p>{{ copia.codigolibro.autor|slice:":3" }} {{ copia.codigolibro.titulo }}</p>

            </div>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
    // Obtén todos los elementos de clase "barcode" y genera el código de barras para cada uno
    var barcodes = document.querySelectorAll('.barcode');
    barcodes.forEach(function(barcode) {
      // Obtiene el valor del atributo "data-value"
      var barcodeValue = barcode.getAttribute('data-value');
      // Genera el código de barras y lo inserta dentro del elemento span
      JsBarcode(barcode, barcodeValue);
    });
  </script>
 {% endblock %}