<!DOCTYPE html>
 {% extends "index.html" %}
 {% load static %}

 {% block main_content %}
  <!-- Texto centrado abajo con estilo de párrafo -->
  <div class="container text-center mt-3">
    <p style="font-size: 1.2em; color: #555;">
        ¡Bienvenid@ al sitio de la biblioteca! Si ya tienes una cuenta, por favor inicia sesión, ya que muchas funciones no estarán disponibles si no lo haces.
        Si encuentras algún problema con el inicio de sesión, por favor comunícate con el personal de sistemas.
    </p>
</div>
<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <!-- Logo centrado -->
                <img src="{% static '/COLJ_LOGO.jpg' %}" alt="logo-completo" height="150">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    {% if user.is_authenticated %}
                      <div class="alert alert-success" role="alert">
                        ¡Tienes una sesión activa! Bienvenid@.
                      </div>
                    {% else %}
                      <div class="alert alert-warning" role="alert" style="background-color:#abd3cd; border-color: black; color: black;" >
                        Favor de iniciar sesión para poder hacer uso de todas las funciones del sistema.
                        <a href="{% url 'login' %}" class="alert-link" >Haz Click Aqui Para Iniciar Sesión</a>
                      </div>
                    {% endif %}
            </div>
            
        </div>
    </div>
</div>

 {% endblock %}